html {
}
.container {
    padding: 0;
    background: lightgrey;
}
main {
    font-family: 'Roboto', sans-serif !important;
}

.nav {
    font-family: 'Permanent Marker', cursive !important;
    background: lightgrey;
}

.logout {
    margin: 0;
}

.text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}