html {
}
.container {
    padding: 0;
    background: lightgrey;
}
main {
    font-family: 'Roboto', sans-serif !important;
}

.nav {
    font-family: 'Permanent Marker', cursive !important;
    background: lightgrey;
}

.logout {
    margin: 0;
}

.text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#blogCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-left: 15px solid #007bff;
    border-top: 15px solid #007bff;
    border-bottom: 15px solid #007bff;
    border-right: 30px solid #007bff;
    box-shadow: 10px 5px 5px red;
}

