<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>

<h1>Guess the Dice Roll</h1>


    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="1">
        <button>1</button>
    </form>
    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="2">
        <button>2</button>
    </form>
    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="3">
        <button>3</button>
    </form>
    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="4">
        <button>4</button>
    </form>
    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="5">
        <button>5</button>
    </form>
    <form action="/roll-dice" method="POST">
        <input type="hidden" name="guess" value="6">
        <button>6</button>
    </form>

    <h2> The random dice roll was: <span th:text="${randomNumber}"></span></h2>

    <h2> You guess was: <span th:text="${userNumber}"></span></h2>

    <h2 th:text="${success}"></h2>
    <h2 th:text="${failure}"></h2>


</body>
</html>